#movement {
    display:table-cell;
    vertical-align:middle;
}
#move2 {
    position:relative;
    -webkit-animation: backandforth 3s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: backandforth 3s ease 0s;
    animation-iteration-count:infinite;
}

@-webkit-keyframes backandforth {0%{left:0;}  6%{left:0;}}

@keyframes backandforth {0%{left:0;}  6%{left:0;}}
#move3 {
    position:relative;
    -webkit-animation: backandforth 2s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: backandforth 2s ease 0s;
    animation-iteration-count:infinite;
}

@-webkit-keyframes backandforth {0%{left:0;}  4%{left:0;}}

@keyframes backandforth {0%{left:0;}  4%{left:0;}}
#move4 {
    position:relative;
    -webkit-animation: backandforth 1.5s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: backandforth 1.5s ease 0s;
    animation-iteration-count:infinite;
}

@-webkit-keyframes backandforth {0%{left:0;}  2%{left:0;}}

@keyframes backandforth {0%{left:0;}  2%{left:0;}}

h1{
    color: white;
    font-family:helvetica;
    text-align: center;
    font-size: 200%;
    border: 20px solid transparent;
    padding: 10px;
    }

#images{
    text-align: center;
    position: relative;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}